body {
  background-color: #f7f2f3;
}

.benchmark__rail {
  height: 100px;
  width: 100%;
  position: relative;
}

.benchmark__progress {
  height: 50px;
  background-color: red;
}

main {
  padding: 20px 40px;
}

article {
}
